// Fonts
$font-main: 'Roboto', sans-serif;

// Colors
$dark: #787878;
$fontColor: #616161;
$fontNotAccent: #a0a0a0;

// бэкграунд
$bgDefault: #bacace;
$notAccent: #16505c;

// шhban
$accent: #303133;
$bgNotAccent: #16505c;

$white: #fff;
